<!DOCTYPE html>
<html xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<head>
<title>Index chambautWeb</title>
<meta http-equiv="
	Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"></link>
</head>
	<body style="background-image:linear-gradient(gray,ghostwhite);padding-bottom:80%">
		<p class="h1 bg-danger">Account not recognized</p>
		<h:form>
			<h:commandButton class="btn btn-primary" action="index.xhtml" value="Retour"></h:commandButton>
		</h:form>
	</body>
</html>
