<!DOCTYPE html>
<html xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<ui:include src="/WEB-INF/head.xhtml" />
</head>
<body>
	<ui:include src="/WEB-INF/navbar.xhtml" />

	<h3 class="row justify-content-center alert alert-primary">Annuaire alumnis</h3>
	<hr></hr>
	<h:form>
	<div class="row justify-content-center">
		
		<div class="col-2">
			<h:commandButton class="btn btn-warning m-2" style="width:100%" value="Filtrer" action="alumniDirectory.xhtml"></h:commandButton>
		</div>
			
		
	</div>
	<div>
		<h:dataTable value="#{userControl.doSelectAllValidated()}"
			var="u"
			class="table table-bordered table-hover">
				<h:column>
	   				<f:facet name="header" ><h6 class="alert alert-dark text-center">Photo</h6></f:facet>
	   				#{u.getPictureLink()}
	   			</h:column>
	   			
	   			<h:column>
	   				<f:facet name="header" >
	   					<h6 class="alert alert-dark text-center">
	   						Nom
	   						<h:inputText value="#{userControl.filterLastName}" class="ml-2" placeholder="Dupont"></h:inputText>
	   					</h6>
	   				</f:facet>
	   				
	   				#{u.getLastName()}
	   			</h:column>
	   			
	   			<h:column>
	   				<f:facet name="header">
	   					<h6 class="alert alert-dark text-center">
	   						Prénom
	   					</h6>
	   				</f:facet>
	   				#{u.getFirstName()}
	   			</h:column>
	   			
	   			<h:column>
	   				<f:facet name="header"><h6 class="alert alert-dark text-center">Email</h6></f:facet>
	   				#{u.getMail()}
	   			</h:column>
	   			
	   			<h:column>
	   				<f:facet name="header">
	   					<h6 class="alert alert-dark text-center">
	   						Section
	   					</h6>
		   			</f:facet>
	   				#{u.getSection()}
	   			</h:column>
	   			
	   			<h:column>
	   				<f:facet name="header">	   					
	   					<h6 class="alert alert-dark text-center">
	   						Année de diplomation
	   					</h6>
					</f:facet>
	   				#{u.getGraduatedYear()}
	   			</h:column>
	   			
	   			<h:column>
	   				<f:facet name="header">	   					
	   					<h6 class="alert alert-dark text-center">En savoir plus</h6>
	   				</f:facet>
	   				<h:commandButton class="btn btn-info" style="width:100%" value="Voir" action="#{userControl.doMoreDetails(u.getMail())}"></h:commandButton>	
	   			</h:column>
	   		
	   	 </h:dataTable> 
	   	 <h5 class="row justify-content-center alert alert-danger">#{userControl.emptyTableMessage()}</h5>
	</div>
	</h:form>
</body>
</html>
