<!DOCTYPE html>
<html xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<ui:include src="/WEB-INF/head.xhtml" />
</head>
<body>
	<ui:include src="/WEB-INF/navbar.xhtml" />
	
	<h3 class="row justify-content-center alert alert-primary">A propos</h3>
	
	<hr></hr>
	
	<div class="alert alert-danger">
	<h5 class="row justify-content-center">Site réalisé par :</h5>
	<hr></hr>
	<h5 class="row justify-content-center"><a href="https://be.linkedin.com/in/mehdibenhaddou" target="_blank"> Ben Haddou Mehdi</a></h5>
	<h5 class="row justify-content-center"><a href="https://fr.linkedin.com/in/romain-chambaut-945894182" target="_blank"> Chambaut Romain</a></h5>
	<h5 class="row justify-content-center">étudiants en informatique de gestion à la HELHa Campus Mons ,
	dans le cadre du cours d' Applications entreprise multi tiers de :</h5>
	<h5 class="row justify-content-center"><a href="https://www.linkedin.com/in/valentin-altares-phd-511011130/" target="_blank">Mr. V. Altares.</a></h5>
	</div>

</body>

</html>
