<!DOCTYPE html>
<html xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<ui:include src="/WEB-INF/head.xhtml" />
</head>
<body>
    <ui:include src="/WEB-INF/navbar.xhtml" />
	     
	<h3 class="row justify-content-center alert alert-primary">Création d'événement</h3>
	<hr></hr>
	<h:form method="POST">
		<h6 class="row justify-content-center alert alert-info">Général</h6>
		<div class="row justify-content-center">
			<label for="nom">Nom :</label>
		</div>
		<div class="row justify-content-center">
			<h:inputText  class="form-control col-6 text-center" type="text" id="nom" value="#{eventControl.name}"></h:inputText>
		</div>
		<div class="row justify-content-center">
			<label for="places">Nombre de places disponibles :</label>
		</div>
		<div class="row justify-content-center">
			<h:inputText class="form-control col-6 text-center" type="text" id="places" value="#{eventControl.placesAvailable}"></h:inputText>
		</div>
		<div class="row justify-content-center">
			<label for="description">Description :</label>
		</div>
		<div class="row justify-content-center">
			<h:inputTextarea id="description" class="form-control col-6 text-center" value="#{eventControl.description}"></h:inputTextarea>
		</div>
		
		<hr></hr>
		<h6 class="row justify-content-center alert alert-info">Dates</h6>
		
		<div class="row justify-content-center">
			<label for="datedeb">Date de début</label>
		</div>
		<div class="row justify-content-center">
			<h:inputText type="text" class="form-control col-6 text-center" value="#{eventControl.startDate}" placeholder="01/01/2020"></h:inputText>
		</div>
		<div class="row justify-content-center">
			<label for="datedeb">Date de fin</label>
		</div>
		<div class="row justify-content-center">
			<h:inputText type="text" class="form-control col-6 text-center" value="#{eventControl.endDate}" placeholder="01/01/2020"></h:inputText>	
		</div>
			
		
		<hr></hr>
		
		<h6 class="row justify-content-center alert alert-info">Adresses</h6>
		
		<div class="row justify-content-center">
			<label for="rue">Rue</label>
		</div>
		<div class="row justify-content-center">
			<h:inputText id="rue" class="form-control col-6 text-center" value="#{eventControl.street}"></h:inputText>
		</div>
		<div class="row justify-content-center">
			<label for="numero">Numero</label>
		</div>
		<div class="row justify-content-center">
			<h:inputText id="numero" class="form-control col-6 text-center" value="#{eventControl.number}"></h:inputText>
		</div>
		<div class="row justify-content-center">
			<label for="codepostal">Code postal</label>
		</div>
		<div class="row justify-content-center">
			<h:inputText id="codepostal" class="form-control col-6 text-center" value="#{eventControl.postalCode}"></h:inputText>
		</div>
		<div class="row justify-content-center">
			<label for="ville">Ville</label>
		</div>
		<div class="row justify-content-center">
			<h:inputText id="ville" class="form-control col-6 text-center" value="#{eventControl.town}"></h:inputText>
		</div>
		<div class="row justify-content-center">
			<h:commandButton class="btn btn-primary col-8 mt-3 mb-5" value="Créer l'événement" action="#{eventControl.saveEvent()}"></h:commandButton>
		</div>
		
		
	</h:form>
	
</body>
</html>
