<!DOCTYPE html>
<html xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<ui:include src="/WEB-INF/head.xhtml" />
</head>
<body>
	<ui:include src="/WEB-INF/navbar.xhtml" />

	<h3 class="row justify-content-center alert alert-primary">Poster une offre</h3>
	<hr></hr>
	<div class="row justify-content-center">
		<h6 class="alert alert-warning">Vous pouvez poster ici des offres de stages ou d'emploi afin de les relayer au sein du réseau d'anciens.</h6>
	</div>
	<div class="row justify-content-center">
		<h6 class="alert alert-danger">Cependant, sachez que les offres de stage pourront également être diffusées aux étudiants de 3ème année de la section concernée par le biais d'un professeur.</h6>
	</div>
	
	<div class="row justify-content-center">
		<h5 class="font-weight-bold">1. Informations générales > </h5><h5> 2. Informations détaillées</h5>
	</div>
	<hr></hr>
	<h:form>
	<div class="row justify-content-center">
		<label>Section de l'offre</label>
	</div>
     
      <div class="row justify-content-center">
	       <h:panelGroup layout="block">
	          <h:selectOneListbox size="0" class="form-control col-6 text-center" id="selectedCategory" value="#{offerControl.selectedCategory}">
	              <f:selectItem itemLabel="Informatique de gestion" itemValue="Informatique de gestion" />
	              <f:selectItem itemLabel="Comptabilité" itemValue="Comptabilité" />
	              <f:selectItem itemLabel="Assistant de direction" itemValue="Assistant de direction" />
	          </h:selectOneListbox>
	      </h:panelGroup>
	    </div>
		
	  <div class="row justify-content-center">
		<label for="titre">Titre de l'offre</label>
	  </div>
	  <div class="row justify-content-center">
		<h:inputText id="titre" class="form-control col-6 text-center" value="#{offerControl.name}"></h:inputText>
	  </div>
      <div class="row justify-content-center">
		<label for="endroit">Lieu</label>
	  </div>
      <div class="row justify-content-center">
		<h:inputText id="endroit" class="form-control col-6 text-center" value="#{offerControl.place}"></h:inputText>
	  </div>
      <div class="row justify-content-center">
		<label for="description">Description</label>
	  </div>
      <div class="row justify-content-center">
		<h:inputTextarea class="form-control col-6 text-center" value="#{offerControl.description}"></h:inputTextarea>
	  </div>
      <div class="row justify-content-center">	  
	  	<label>Poster une offre pour :</label>
	  </div>
	  <div class="row justify-content-center">
		  <h:panelGroup layout="block">
		      <h:selectOneListbox class="form-control col-6 text-center" size="0" id="selectedOption" value="#{offerControl.selectedOption}">
		      	<f:selectItem itemLabel="Stage" itemValue="Internship"></f:selectItem>
		      	<f:selectItem itemLabel="Emploi" itemValue="Job"></f:selectItem>
		      </h:selectOneListbox>
	      </h:panelGroup>
	  </div>
      
      <div class="row justify-content-center">
      	<h:commandButton value="Créer" class="btn btn-primary mt-2 col-6" action="#{offerControl.doComplementaryInformation()}"></h:commandButton>
      </div>
      
    </h:form>
	
</body>
</html>
