<!DOCTYPE html>
<html xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<ui:include src="/WEB-INF/head.xhtml" />
</head>
<body>
    <ui:include src="/WEB-INF/navbar.xhtml" />
	     
	<h3 class="row justify-content-center alert alert-primary">Ecrire une annonce</h3>
	<hr></hr>
	<h:form method="POST">
		<h6 class="row justify-content-center alert alert-info">Général</h6>
		<div class="row justify-content-center">
			<label for="titre">Titre de l'annonce</label>
		</div>
		<div class="row justify-content-center">
			<h:inputText  class="form-control col-6 text-center" type="text" id="titre" value="#{announceControl.title}"></h:inputText>
		</div>
		
		<div class="row justify-content-center">
			<label for="texte">Texte de l'annonce</label>
		</div>
		<div class="row justify-content-center">
			<h:inputText class="form-control col-6 text-center" type="text" id="texte" value="#{announceControl.text}"></h:inputText>
		</div>
		
		<h:commandButton class="btn btn-outline-info" value="Créer l'annonce" action="#{announceControl.saveAnnounce()}"></h:commandButton>
		<p class="alert alert-danger text-muted">Lorsque vous créerez l'annonce, les utilisateurs ayant accepté les notifications recevront une alerte.</p>
		
	</h:form>
	
</body>
</html>
