<!DOCTYPE html>
<html xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<ui:include src="/WEB-INF/head.xhtml" />
</head>
<body>
	<ui:include src="/WEB-INF/navbar.xhtml" />
	
	<h3 class="row justify-content-center alert alert-primary">Création de compte</h3>
	<hr></hr>
	
	<h:form method="POST">
		
		<h4 class="row justify-content-center alert alert-secondary">Informations générales</h4>
		<div class="row justify-content-center">
			<h6 class="badge badge-info">Ces informations seront visibles par tous sur votre profil</h6>
		</div>
		
		
		<div class="row justify-content-center">
			<label for="nom">Nom :</label>
		</div>
		<div class="row justify-content-center">
			<h:inputText id="nom" class="form-control col-6 text-center" placeholder="Dupont" value="#{userControl.lastName}"></h:inputText>
		</div>
		<div class="row justify-content-center">
			<label for="prenom">Prénom :</label>
		</div>
		<div class="row justify-content-center">
			<h:inputText id="prenom" class="form-control col-6 text-center" placeholder="Jean" value="#{userControl.firstName}"></h:inputText>
		</div>
		<div class="row justify-content-center">
			<label for="telephone">Téléphone de contact :</label>
		</div>
		<div class="row justify-content-center">
			<h:inputText id="telephone" class="form-control col-6 text-center" value="#{userControl.phoneNumber}"></h:inputText>
		</div>
		<div class="row justify-content-center">
			<label for="description">Description :</label>
		</div>
		<div class="row justify-content-center">
			<h:inputTextarea id="description" class="form-control col-6 text-center" value="#{userControl.description}"></h:inputTextarea>		
		</div>
		<div class="row justify-content-center">
			<label for="annee">Année de diplomation :</label>	
		</div>
		<div class="row justify-content-center">
			<h:inputText type="number" min="1994" max="2020" id="annee" class="form-control col-6 text-center" value="#{userControl.graduatedYear}"></h:inputText>			
		</div>

		<div class="row justify-content-center">
			<label for="section">Section</label>
		</div>
		<div class="row justify-content-center">
      	<h:panelGroup layout="block" >
         <h:selectOneListbox size="0" class="form-control col-6 text-center" id="section" value="#{userControl.section}">
             <f:selectItem itemLabel="Informatique de gestion" itemValue="Informatique de gestion" />
             <f:selectItem itemLabel="Comptabilité" itemValue="Comptabilité" />
             <f:selectItem itemLabel="Assistant de direction" itemValue="Assistant de direction" />
         </h:selectOneListbox>
     	</h:panelGroup>
     	</div>
		
		<hr></hr>

		<h4 class="row justify-content-center alert alert-secondary">Informations de connexion</h4>
		<div class="row justify-content-center">
			<h6 class="badge badge-info">Ces informations seront vos identifiants de connexion</h6>
		</div>
		<div class="row justify-content-center">
			<label for="mail">Adresse mail :</label>
		</div>
		<div class="row justify-content-center">
			<h:inputText id="mail" class="form-control col-6 text-center" placeholder="adresse@domaine.be" value="#{userControl.mail}"></h:inputText>
		</div>
		<div class="row justify-content-center">
			<label for="motdepasse">Mot de passe :</label>
		</div>
		<div class="row justify-content-center">
			<h:inputText id="motdepasse" type="password" class="form-control col-6 text-center" value="#{userControl.password}"></h:inputText>
		</div>
		
		<hr></hr>
		
		<div class="alert alert-danger">
			<h6 class="row justify-content-center">
				Vos informations seront vérifiées parmi les données des anciens sauvegardés par la HELHa.
			</h6>
			<h6 class="row justify-content-center">
				Si vos informations ne sont pas présentes, un administrateur validera manuellement votre inscription (dans les plus brefs délais).
			</h6>
		</div>
		
		<hr></hr>
		
		<h6 class="row justify-content-center">Voulez-vous recevoir des notifications à propos des événements et des nouvelles concernant le réseau des anciens ?</h6>
		<div class="row justify-content-center">
			<h:selectBooleanCheckbox class="form-control" value="#{userControl.wantNotification}"></h:selectBooleanCheckbox>
		</div>
		
		<h6 class="row justify-content-center mt-3">En cochant cette case, vous acceptez les conditions générales d'utilisation et de conservation de vos de données par le site.</h6>
		<div class="row justify-content-center">
			<h:selectBooleanCheckbox class="form-control" value="#{userControl.hasAgreed}"></h:selectBooleanCheckbox>
		</div>
		
		<hr></hr>
		
		<div class="row justify-content-center">
			<h:commandButton class="btn btn-primary col-10 mb-5" value="Créer un compte" action="#{userControl.persistUser()}"></h:commandButton>
		</div>
		
		
		
	</h:form>
	
</body>
</html>
