<!DOCTYPE html>
<html xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<ui:include src="/WEB-INF/head.xhtml" />
</head>
<body>
	#{userControl.populateWithConnectedUser()}
	<ui:include src="/WEB-INF/navbar.xhtml" />
	
	<h2 class="row justify-content-center alert alert-primary">Administrateur</h2>
	<h5 class="row justify-content-center">Bonjour, #{userControl.firstName}</h5>
	<hr></hr>
	<h:form>
		<h:commandButton class="btn btn-dark btn-lg m-3" style="width:31%" value="Offres (#{offerControl.countValidations()} en attente)" action="validationOffers.xhtml"></h:commandButton>
		<h:commandButton class="btn btn-info btn-lg m-3" style="width:31%" value="Demandes d'inscription (#{userControl.countValidations()} en attente)" action="validationInscriptions.xhtml"></h:commandButton>
		<h:commandButton class="btn btn-primary btn-lg m-3" style="width:31%" value="Créer un évenement" action="createEvent.xhtml"></h:commandButton>
	</h:form>
	<h:form>
		<h:commandButton class="btn btn-dark btn-lg m-3" style="width:31%" value="Gérer les offres" action="manageOffers.xhtml"></h:commandButton>
		<h:commandButton class="btn btn-info btn-lg m-3" style="width:31%" value="Gérer les utilisateurs" action="manageUsers.xhtml"></h:commandButton>
		<h:commandButton class="btn btn-primary btn-lg m-3" style="width:31%" value="Ecrire une annonce" action="createAnnounce.xhtml"></h:commandButton>
	</h:form>
	<h:form>
		<h:commandButton class="btn btn-dark btn-lg m-3" style="width:31%" value=""></h:commandButton>
		<h:commandButton class="btn btn-info btn-lg m-3" style="width:31%" value="Gérer les portraits" action="managePortraits.xhtml"></h:commandButton>
		<h:commandButton class="btn btn-primary btn-lg m-3" style="width:31%" value=""></h:commandButton>
	</h:form>
	<hr></hr>
	<h5 class="row justify-content-center alert alert-danger mt-3">Il y a actuellement <span class="badge badge-info mr-2 ml-2">#{userControl.countMembers()}</span> membre(s) inscrit(s) et validé(s)</h5>
	<h5 class="row justify-content-center alert alert-danger">Il y a actuellement <span class="badge badge-info mr-2 ml-2">#{offerControl.countJobOffers()}</span> offre(s) d'emploi</h5>
	<h5 class="row justify-content-center alert alert-danger">Il y a actuellement <span class="badge badge-info mr-2 ml-2">#{offerControl.countInternshipOffers()}</span> offre(s) de stage</h5>
</body>
</html>