<!DOCTYPE html>
<html xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<ui:include src="/WEB-INF/head.xhtml" />
</head>
<body>
	<ui:include src="/WEB-INF/navbar.xhtml" />
	
	<h3 class="row justify-content-center alert alert-primary">Formation continue</h3>
	
	<h5 class="row justify-content-center alert alert-danger">Économique Cereco</h5>
		<h6 class="row justify-content-center">Contact : <a href="mailto:clipperl@helha.be"> Rose-Line Clippe</a></h6>
		<h6 class="row justify-content-center"><a href="https://www.helha.be/formation-continue/" target="_blank">Site Web</a></h6>
		<h6 class="row justify-content-center"><a href="https://www.linkedin.com/groups/13671428/" target="_blank">Groupe Linkedin</a></h6>
		<h6 class="row justify-content-center"><a href="https://www.linkedin.com/company/cereco-helha/" target="_blank"><img width="40px" height="40px" src="images/linkedin.png"></img></a></h6>
	
	<div class="m-5 alert alert-primary">
	<a class="font-weight-bold">Cereco vient de voir le jour !</a><br/>

Nouveau centre de recherche et de formation continue du domaine économique de la HELHa. L’idée est de créer une communauté de passionnés qui ont plaisir à se retrouver pour se former, pour networker et pour préparer l’avenir. Dans un premier temps des conférences et formations sur des thèmes d’actualités économiques et financières seront proposées. Différentes activités pourront également être organisées (soirées speed dating – recherche de stage, visites d’entreprises …).

Le projet a également pour objectif d’être un point de contact pour les enseignants du domaine économique désireux de se former. Le projet proposera également des formations spécifiques pour les étudiants du bloc 3 désireux d’acquérir des compétences et/ou savoir-faire spécialisés pour un futur job.

À terme, des offres sur mesure pourront être conçues pour les membres de la communauté Cereco afin d’aider à répondre à des besoins liés à la gestion de leur organisation (création d’un profil LinkedIn, accompagnement d’équipes, gestion du temps, gestion du stress,…). Des projets de recherche dans le domaine économique pourront également être envisagés.
	</div>

</body>

</html>
