<!DOCTYPE html>
<html xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<ui:include src="/WEB-INF/head.xhtml" />
</head>
<body>
	<ui:include src="/WEB-INF/navbar.xhtml" />
	
    <div class="row justify-content-center alert alert-primary" style="font-size:46px">
    	Bienvenue sur HELHa Alumni!
    </div> 
    <hr></hr>
	
	<h3 class="row justify-content-center alert alert-dark font-weight-bold">Événements à suivre :</h3>
	
	<c:forEach items="#{eventControl.doSelectEventsForMainPage()}" var="event">             
	  <div class="alert alert-danger">
	 	<h:outputText class="row justify-content-center font-weight-bold h5" value="#{event.getName()}"/>
	  	<h5 class="row justify-content-center ">
	  		<a class="badge badge-danger" style="color:white">
		  		Du 
			  	<h:outputText value="#{event.getStartDate()}" />
			  	au
			  	<h:outputText value="#{event.getEndDate()}" />
		  	</a>
	  	</h5>
		<div class="row justify-content-center ">
			<h:outputText value="#{event.getDescription()}" />
	  	</div>
	  	<h:form class="row justify-content-center ">
	  		<h:commandButton class="btn btn-success" value="Détails" action="#{eventControl.doMoreDetails(event.getName())}"></h:commandButton>
	  	</h:form>
	  </div>
	</c:forEach>
	
	<hr></hr>
	<hr></hr>
	
	<h3 class="row justify-content-center alert alert-dark font-weight-bold">Portraits Alumnis :</h3>
	
	<c:forEach items="#{userControl.selectAllValidatedForDisplay()}" var="user">             
	  <div class="alert alert-danger">
	 	<h:outputText class="row justify-content-center font-weight-bold h5" value="#{user.getFirstName()} #{user.getLastName()}"/>
	  	<h5 class="row justify-content-center"><a class="badge badge-info" style="color:white">#{user.getSection()}</a></h5>
	  	<h6 class="row justify-content-center">#{user.getTestimony()}</h6>
	  	<h:form class="row justify-content-center ">
	  		<h:commandButton class="btn btn-success" value="Détails" action="#{userControl.doMoreDetails(user.getMail())}"></h:commandButton>
	  	</h:form>
	  </div>
	</c:forEach>
	
</body>

</html>
