<!DOCTYPE html>
<html xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<ui:include src="/WEB-INF/head.xhtml" />
</head>
<body>
    <ui:include src="/WEB-INF/navbar.xhtml" />
	<h3 class="row justify-content-center alert alert-primary">Liste des évenements</h3>
	
	<hr></hr>
	
	<h:form>
		<h:dataTable value="#{eventControl.initEventList();eventControl.events}" var="evt" class="table table-bordered">
			<h:column>
				<f:facet name="header"><h6 class="alert alert-dark text-center">Nom</h6></f:facet>
				#{evt.getName()}
			</h:column>	
			<h:column>
				<f:facet name="header"><h6 class="alert alert-dark text-center">Dates</h6></f:facet>
				du #{evt.getStartDate()} au #{evt.getEndDate()}
			</h:column>
			<h:column>
				<f:facet name="header"><h6 class="alert alert-dark text-center">Nombre de part. max</h6></f:facet>
				#{evt.getPlacesAvailable()}
			</h:column>
			<h:column>
				<f:facet name="header"><h6 class="alert alert-dark text-center">Plus d'infos</h6></f:facet>
				<h:commandButton class="btn btn-info" style="width:100%" value="Voir" action="#{eventControl.doMoreDetails(evt.getName())}"></h:commandButton>
			</h:column>
		</h:dataTable>
		<h5 class="row justify-content-center alert alert-danger">#{eventControl.emptyTableMessage()}</h5>
	</h:form>
		
</body>
</html>
