<!DOCTYPE html>
<html xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<ui:include src="/WEB-INF/head.xhtml" />
</head>
<body>
    <ui:include src="/WEB-INF/navbar.xhtml" />
	<h3 class="row justify-content-center alert alert-primary">Liste des annonces</h3>
	
	<hr></hr>
	
	<h:form>
		<h:dataTable value="#{announceControl.selectAllAnnounce()}" var="a" class="table table-bordered">
			<h:column>
				<f:facet name="header"><h6 class="alert alert-dark text-center">Date de publication</h6></f:facet>
				#{a.getDatePosted()}
			</h:column>	
			<h:column>
				<f:facet name="header"><h6 class="alert alert-dark text-center">Name</h6></f:facet>
				#{a.getTitle()}
			</h:column>	
			<h:column>
				<f:facet name="header"><h6 class="alert alert-dark text-center">Description</h6></f:facet>
				#{a.getText()}
			</h:column>	
		</h:dataTable>
	</h:form>
		
</body>
</html>
