<!DOCTYPE html>
<html xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<ui:include src="/WEB-INF/head.xhtml" />
</head>
    <ui:include src="/WEB-INF/navbar.xhtml" />
	<body>
		<h3 class="row justify-content-center alert alert-danger">Erreur de login ou de mot de passe</h3>
		<div class="row justify-content-center">
		<h:form>
			<h:commandButton class="btn btn-danger" action="login.xhtml" value="Retour"></h:commandButton>
		</h:form>
		</div>
		
	</body>
</html>
