<!DOCTYPE html>
<html xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<ui:include src="/WEB-INF/head.xhtml" />
</head>
<body>
	<ui:include src="/WEB-INF/navbar.xhtml" />
	
	<h3 class="row justify-content-center alert alert-primary">Connexion</h3>
	<form method="POST" action="j_security_check;userControl.populateWithConnectedUser()">
	<div class="row justify-content-center">
		Email:
	</div>
	<div class="row justify-content-center">
		<input class="form-control col-6 mt-2 text-center" type="text" name="j_username"/>
	</div>
	<div class="row justify-content-center">
		Mot de passe:
	</div>
	<div class="row justify-content-center">
		<input class="form-control col-6 mt-2 text-center" type="password" name="j_password"/>
	</div>
	<div class="row justify-content-center mt-2">
		<input type="submit" class="btn btn-primary" value="Connexion"/>
	</div>
	
	<hr></hr>
		 
		
	</form>
	<h3 class="row justify-content-center alert alert-danger">Pas encore de compte?</h3>
	<div class="row justify-content-center">
		<h:form>
			<h:commandButton class="btn btn-success btn-lg" value="Créer un compte" action="#{userControl.doCreateAccount()}"></h:commandButton>
		</h:form>
	</div>
	<hr></hr>
	
	
</body>

</html>
