<!DOCTYPE html>
<html xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<ui:include src="/WEB-INF/head.xhtml" />
</head>
<body>
	<ui:include src="/WEB-INF/navbar.xhtml" />

	<h3 class="row justify-content-center alert alert-primary">Gestion des utilisateurs</h3>
	
	<hr></hr>
	
	<div  class="row justify-content-center mb-3">
	<h:form>
		<h:commandButton class="btn btn-secondary m-2" value="Enregistrer" action="index.xhtml"></h:commandButton>
	</h:form>
	</div>
	<h2></h2>
	<div>
		<h:dataTable value="#{userControl.doSelectAllValidated();userControl.list}"
			var="u"
			class="table table-bordered">
	
	   			<h:column>
	   				<f:facet name="header"><h6 class="alert alert-dark text-center">Nom</h6></f:facet>
	   				#{u.getLastName()}
	   			</h:column>
	   			
	   			<h:column>
	   				<f:facet name="header"><h6 class="alert alert-dark text-center">Prénom</h6></f:facet>
	   				#{u.getFirstName()}
	   			</h:column>
	   			
	   			<h:column>
	   				<f:facet name="header"><h6 class="alert alert-dark text-center">Email</h6></f:facet>
	   				#{u.getMail()}
	   			</h:column>
	   			
	   			<h:column>
	   				<f:facet name="header"><h6 class="alert alert-dark text-center">Année de diplomation</h6></f:facet>
	   				#{u.getGraduatedYear()}
	   			</h:column>
	   			
	   			<h:column>
	   				<f:facet name="header"><h6 class="alert alert-dark text-center">Supprimer</h6></f:facet>
	   				<h:form>
	   					<h:commandButton class="btn btn-danger" style="width:100%" value="X" action="#{userControl.doDeleteUser(u.getMail())}"></h:commandButton>
	   				</h:form>
	   			</h:column>
	   		
	   	 </h:dataTable>
	   	 <h5 class="row justify-content-center alert alert-danger">#{userControl.emptyTableMessage()}</h5>
	</div>

</body>
</html>
