<!DOCTYPE html>
<html xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<ui:include src="/WEB-INF/head.xhtml" />
</head>
<body>
	<ui:include src="/WEB-INF/navbar.xhtml" />
	
	<h6 class="row justify-content-center m-3">Date de publication: #{offerControl.getDate()}</h6>
	
	<h1 class="row justify-content-center alert alert-primary">Offre - #{offerControl.getSelectedOption()}</h1>
	
	<h3 class="row justify-content-center alert alert-info">#{offerControl.getName()}</h3>
	
	
	
	<h4 class="row justify-content-center"><a class="badge badge-danger" style="color:white;">Section concernée : #{offerControl.getSection()}</a></h4>
	
	<h4 class="row justify-content-center">Lieu : <a class="font-weight-bold"> #{offerControl.getPlace()}</a></h4>
	
	<hr></hr>
	
	
	<h5 class="row justify-content-center">Description :</h5>
	<h5 class="row justify-content-center">#{offerControl.getDescription()}</h5>
	
	<div class="row mt-3 justify-content-center">
		<h:form>
		  <h:commandButton class="btn btn-info" action="#{offerControl.downloadPDF()}" value="Télécharger PDF"></h:commandButton>
		</h:form>
	</div>
</body>
</html>
