<!DOCTYPE html>
<html xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<ui:include src="/WEB-INF/head.xhtml" />
</head>
	<ui:include src="/WEB-INF/navbar.xhtml" />
	<body>
		<h3 class="row justify-content-center alert alert-primary">Informations détaillées sur le stage</h3>
		<hr></hr>
		<div class="row justify-content-center">
			<h5>1. Informations générales > </h5><h5 class="font-weight-bold"> 2. Informations détaillées</h5>
		</div>
		
		<h:form>
			<div class="row justify-content-center">
				<label>Nombre d'années d'expérience requises</label>
			</div>
			<div class="row justify-content-center">
				<h:inputText class="form-control col-6 text-center" value="#{offerControl.experience}"></h:inputText>
			</div>
			<div class="row justify-content-center">
				<label>Fonction proposée</label>
			</div>
			<div class="row justify-content-center">
				<h:inputText class="form-control col-6 text-center" value="#{offerControl.type}"></h:inputText>
			</div>
			<div class="row justify-content-center">
				<label>Salaire proposé</label>
			</div>
			<div class="row justify-content-center">
				<h:inputText class="form-control col-6 text-center" value="#{offerControl.salary}"></h:inputText>
			</div>
			<div class="row justify-content-center">
				<h:commandButton class="btn btn-primary col-6" value="Poster l'offre" action="#{offerControl.saveOffer()}"></h:commandButton>
			</div>
		</h:form>
		
	</body>
</html>
