<!DOCTYPE html>
<html xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<ui:include src="/WEB-INF/head.xhtml" />
</head>
<body>
	<ui:include src="/WEB-INF/navbar.xhtml" />
	
	<h1 class="row justify-content-center alert alert-primary">#{eventControl.name}</h1>
	
	<h3 class="row justify-content-center alert alert-warning">Cet événement accueillera jusque #{eventControl.placesAvailable} personnes</h3>
	
	<br/>
	
	<div class="row justify-content-center">
		<h4 class="alert alert-info">Quand ?</h4>
	</div>
	<h5 class="row justify-content-center">Du #{eventControl.startDate} au #{eventControl.endDate}</h5>
	<hr></hr>
	<div class="row justify-content-center">
	<h4 class="alert alert-info">Où ?</h4>
	</div>
	<h5 class="row justify-content-center">#{eventControl.street}, #{eventControl.number} #{eventControl.postalCode} #{eventControl.town}</h5>
		
</body>
</html>
