<!DOCTYPE html>
<html xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<ui:include src="/WEB-INF/head.xhtml" />
</head>
<body>
	<ui:include src="/WEB-INF/navbar.xhtml" />
	
	<h1 class="row justify-content-center alert alert-primary">#{userControl.getFirstNameSelected()} #{userControl.getLastNameSelected()} - Alumni</h1>
	<h4 class="row justify-content-center"><a class="font-weight-bold">Diplômé en : #{userControl.getGraduatedYearSelected()}</a></h4>
	<hr></hr>
	
	<h3 class="row justify-content-center alert alert-danger">Contact</h3>
	
	<h6 class="row justify-content-center">Téléphone : <a class="font-weight-bold">#{userControl.getPhoneNumberSelected()}</a></h6>
	
	<h6 class="row justify-content-center">Adresse Email : <a class="font-weight-bold" href="mailto:#{userControl.getMailSelected()}">#{userControl.getMailSelected()}</a></h6>
	
	<h3 class="row justify-content-center alert alert-danger">Informations générales</h3>
	
	<h4 class="row justify-content-center"><a class="badge badge-success" style="color:white;">Section : #{userControl.getSectionSelected()}</a></h4>
	
	<hr></hr>
	
	<h5 class="row justify-content-center font-weight-bold">Description : </h5>
	
	<h6 class="row justify-content-center"> #{userControl.getDescriptionSelected()}</h6>
	
	<hr></hr>
	
	
</body>
</html>
