<!DOCTYPE html>
<html xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<ui:include src="/WEB-INF/head.xhtml" />
</head>
<body>

	<ui:include src="/WEB-INF/navbar.xhtml" />

	<h3 class="row justify-content-center alert alert-primary">Offres</h3>
	
	<div class="row justify-content-center">
		<h:form>
			<h:commandButton class="btn btn-warning" value="Poster une offre" action="createOffer.xhtml"></h:commandButton>
		</h:form>
	</div>

	
	<div class="border mr-5 ml-5 mb-3 mt-2 p-2">
				<h:form> 
					<div class="row justify-content-center">
						<label>Emploi</label>
						<h:selectBooleanCheckbox class="mt-2 mr-2 ml-2" value ="#{offerControl.emploiFilter}"/>
						<h:selectBooleanCheckbox class="mt-2 mr-2 ml-2" value ="#{offerControl.stageFilter}"/>
						<label>Stage</label>
					</div>
				 	<h5 class="row justify-content-center">Section</h5>
				 	<div class="row justify-content-center">
				    <h:selectOneMenu class="form-control col-2" value = "#{offerControl.sectionFilter}"> 
				       <f:selectItem itemValue = "TOUT" itemLabel = "Tout" /> 
				       <f:selectItem itemValue = "AD" itemLabel = "Assistant(e) de direction" /> 
				       <f:selectItem itemValue = "C" itemLabel = "Comptabilité" /> 
				       <f:selectItem itemValue = "IG" itemLabel = "Informatique de gestion" />   
		    		</h:selectOneMenu>  
		    		</div>
		    		<div class="row justify-content-center">
		    			<h:commandButton value = "Filtrer" class="btn btn-primary mt-2" action = "offres.xhtml" /> 
   					</div>
		    		
   			</h:form>
	</div>

	<div>		
		<h:form>
			<h:dataTable value="#{offerControl.selectValidated()}" var="offer" class="table table-bordered">
				<h:column>
					<f:facet name="header"><h6 class="alert alert-dark text-center">Type</h6></f:facet>
					#{offer.getClass().getSimpleName()}
				</h:column>	
				<h:column>
					<f:facet name="header"><h6 class="alert alert-dark text-center">Nom</h6></f:facet>
					#{offer.getName()}
				</h:column>
				<h:column>
					<f:facet name="header"><h6 class="alert alert-dark text-center">Section</h6></f:facet>
					#{offer.getSection()}
				</h:column>
				<h:column>
					<f:facet name="header"><h6 class="alert alert-dark text-center">Lieu</h6></f:facet>
					#{offer.getPlace()}
				</h:column>
				<h:column>
					<f:facet name="header"><h6 class="alert alert-dark text-center">Plus d'infos</h6></f:facet>
					<h:commandButton class="btn btn-info" style="width:100%" value="Voir" action="#{offerControl.doMoreDetails(offer.getName())}"></h:commandButton>
				</h:column>
			</h:dataTable>
			<h5 class="row justify-content-center alert alert-danger">#{offerControl.emptyTableMessage()}</h5>
		</h:form>
	</div>

</body>
</html>
