<!DOCTYPE html>
<html xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<ui:include src="/WEB-INF/head.xhtml" />
</head>
<body>
	#{userControl.populateWithConnectedUser()}
	<ui:include src="/WEB-INF/navbar.xhtml" />
	
	<h2 class="row justify-content-center alert alert-primary">Modifier le compte</h2>
	<hr></hr>
	<h5 class="row justify-content-center alert alert-warning">#{userControl.validationMessage()}</h5>
	
	<h:form method="POST" class="m-2">
		<div class="row justify-content-center">
			<h:commandButton class="btn btn-secondary ml-3 mr-3" style="width:20%" value="Retourner à l'accueil" action="#{userControl.doIndex()}"></h:commandButton>
			<h:commandButton class="btn btn-primary ml-3 mr-3" style="width:20%" value="Enregistrer les modifications" action="#{userControl.saveInformation()}"></h:commandButton>
			<h:commandButton class="btn btn-danger ml-3 mr-3" style="width:20%" value="Se déconnecter" action="#{userControl.logout()}"></h:commandButton>
		</div>
		
		<hr></hr>
		
		<div class="row justify-content-center">
			<label for="nom">Nom :</label>
		</div>
		<div class="row justify-content-center">
			<h:inputText id="nom" class="form-control col-6 text-center" placeholder="Dupont" value="#{userControl.lastName}"></h:inputText>
		</div>
		<div class="row justify-content-center">
			<label for="prenom" class="mt-2">Prénom :</label>
		</div>
		<div class="row justify-content-center">
			<h:inputText id="prenom" class="form-control col-6 text-center" placeholder="Jean" value="#{userControl.firstName}"></h:inputText>
		</div>
		<div class="row justify-content-center">
			<label for="telephone" class="mt-2">Téléphone de contact :</label>
		</div>
		<div class="row justify-content-center">
			<h:inputText id="telephone" class="form-control col-6 text-center" value="#{userControl.phoneNumber}"></h:inputText>
		</div>
		<div class="row justify-content-center">
			<label for="description" class="mt-2">Description :</label>
		</div>
		<div class="row justify-content-center">
			<h:inputTextarea id="description" class="form-control col-6 text-center" value="#{userControl.description}"></h:inputTextarea>
		</div>
		<div class="row justify-content-center">
			<label for="annee" class="mt-2">Année de diplomation :</label>
		</div>
		<div class="row justify-content-center">
			<input type="text" min="1994" max="2020" class="form-control col-6 text-center" id="annee" value="#{userControl.graduatedYear}"></input>	
		</div>
			
		<h6 class="row justify-content-center">Voulez-vous recevoir des notifications à propos des événements et des nouvelles concernant le réseau des anciens ?</h6>
		<div class="row justify-content-center">
			<h:selectBooleanCheckbox class="form-control text-center" value="#{userControl.wantNotification}"></h:selectBooleanCheckbox>	
		</div>
		
		<hr></hr>
		
		<div class="row justify-content-center">
			<label class="mt-2">Acceptez-vous de fournir un témoignage à propos de votre expérience à la HELHa ?</label>
		</div>
		<div class="row justify-content-center">
			<h:selectBooleanCheckbox class="form-control text-center" value="#{userControl.canDisplayed}"></h:selectBooleanCheckbox>	
		</div>		
		
		<div class="row justify-content-center">
			<label for="temoignage" class="mt-2">Votre témoignagne de votre expérience de la HELHa</label>	
		</div>
		<div class="row justify-content-center">
			<h:inputTextarea id="temoignage" class="form-control col-6 text-center" value="#{userControl.testimony}"></h:inputTextarea>
		</div>
		
		<hr></hr>
		<div class="row justify-content-center">
			<h4 class="h4">Exporter votre profil en format PDF</h4>
		</div>
		<div class="row justify-content-center mt-2">
			<h:commandButton class="btn btn-warning" value="Exporter en PDF" action="#{userControl.downloadPDF()}"></h:commandButton>
		</div>
		
		
		
	</h:form>
</body>
</html>
