<!DOCTYPE html>
<html xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<ui:include src="/WEB-INF/head.xhtml" />
</head>
<body>
	<ui:include src="/WEB-INF/navbar.xhtml" />

	<h3 class="row justify-content-center alert alert-primary">Liste des offres à traiter</h3>
	
	<hr></hr>
	
	<div  class="row justify-content-center mb-3">
	<h:form>
		<h:commandButton class="btn btn-secondary m-2" value="Enregistrer" action="index.xhtml"></h:commandButton>
	</h:form>
	</div>
	<h2></h2>
	<div>
		<h:dataTable value="#{offerControl.selectNotValidated();offerControl.list}"
			var="offer"
			class="table table-bordered">
	
	   			<h:column>
	   				<f:facet name="header"><h6 class="alert alert-dark text-center">Type</h6></f:facet>
	   				#{offer.getClass().getSimpleName()}
	   			</h:column>
	   			
	   			<h:column>
	   				<f:facet name="header"><h6 class="alert alert-dark text-center">Nom</h6></f:facet>
	   				#{offer.getName()}
	   			</h:column>
	   			
	   			<h:column>
	   				<f:facet name="header"><h6 class="alert alert-dark text-center">Section</h6></f:facet>
	   				#{offer.getSection()}
	   			</h:column>
	   			
	   			<h:column>
	   				<f:facet name="header"><h6 class="alert alert-dark text-center">Lieu</h6></f:facet>
	   				#{offer.getPlace()}
	   			</h:column>
	   			
	   			<h:column>
	   				<f:facet name="header"><h6 class="alert alert-dark text-center">Accepter</h6></f:facet>
	   				<h:form>
	   					<h:commandButton class="btn btn-success" action="#{offerControl.doUpdateValidation(offer.getName())}" style="width:100%" value="V" ></h:commandButton>
	   				</h:form>
	   			</h:column>
	   			
	   			<h:column>
	   				<f:facet name="header"><h6 class="alert alert-dark text-center">Refuser</h6></f:facet>
	   				<h:form>
	   					<h:commandButton class="btn btn-danger" action="#{offerControl.doDeleteValidation(offer.getName())}" style="width:100%" value="X"></h:commandButton>
	   				</h:form>
	   			</h:column>
	   		
	   	 </h:dataTable>
	   	 <h5 class="row justify-content-center alert alert-danger">#{offerControl.emptyTableMessage()}</h5>
	</div>

</body>
</html>
