<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core">


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 		<a class="navbar-brand" href="index.xhtml">
 		<img src="images/helha_texte.png" width="117" height="66"></img></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	  
  		<div class="collapse navbar-collapse" id="navbarText">
    		<ul class="navbar-nav mr-auto">
      			<li class="nav-item">
        			<a class="nav-link" style="color:white" href="index.xhtml">Home</a>
      			</li>
      			<li class="nav-item">
       				 <a class="nav-link" style="color:white" href="offres.xhtml">Offres</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" style="color:white" href="alumniDirectory.xhtml">Annuaires</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" style="color:white" href="listEvent.xhtml">Evenements</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" style="color:white" href="formationContinue.xhtml">Formation continue</a>
      			</li>
      			<li class="nav-item">
       				<a class="nav-link" style="color:white" href="listAnnounce.xhtml">Annonces</a>
      			</li>
      			<li class="nav-item">
       				<a class="nav-link" style="color:white" href="aPropos.xhtml">A propos</a>
      			</li>
      			<li class="nav-item">
       				<a href="https://fr-fr.facebook.com/helhaeconomique/" target="_blank" class="ml-5">
 						<img src="images/facebook.png" width="35" height="35"></img>
 					</a>
      			</li>
      			<li class="nav-item">
       				<a href="https://www.helha.be/implantation/helha-mons-campus-helha/" target="_blank" class="ml-3">
 						<img src="images/website.png" width="35" height="35"></img>
 					</a>
      			</li>
    		</ul>
    		
    		
    		<h:form>
	   			<c:choose>
	    			<c:when test="#{userControl.getSessionMail()!=null}">
	    				#{userControl.populateWithConnectedUser()}
        				<h6 class="alert alert-primary mr-4 mt-3">Bienvenue, #{userControl.getFirstName()}</h6>
	    			</c:when>
				</c:choose>
    		</h:form>
    		
    		<h:form>
	   			<c:choose>
	    			<c:when test="#{userControl.isAdmin()}">
	    				<h:commandButton class="btn btn-outline-warning ml-3 mr-4" value="Tableau d'administration" action="dashboardAdmin.xhtml"></h:commandButton>
	    			</c:when>
				</c:choose>
    		</h:form>
    		
    		<h:form>
	   			<c:choose>
	    			<c:when test="#{userControl.getSessionMail()==null}">
	    				<h:commandButton class="btn btn-outline-danger mr-4" value="Inscription" action="createAccount.xhtml"></h:commandButton>
	    			</c:when>
	    			<c:otherwise>
        				<h:commandButton class="btn btn-outline-primary mr-4" value="Mon compte" action="profile.xhtml"></h:commandButton>
    				</c:otherwise>
				</c:choose>
    		</h:form>
    
    		<h:form>
	   			<c:choose>
	    			<c:when test="#{userControl.getSessionMail()==null}">
	   					<h:commandButton class="btn btn-outline-success" value="Connexion" action="#{userControl.doConnection()}"></h:commandButton>
	    			</c:when>
	    			<c:otherwise>
	        			<h:commandButton class="btn btn-outline-danger" value="Déconnexion" action="#{userControl.logout()}"></h:commandButton>
	    			</c:otherwise>
				</c:choose>
    		</h:form>
	
  		</div>
	</nav>


</ui:composition>